<button class="btn"
        onclick="htmx.find('#{{ dialog_id }}').showModal()"
>
    {{ button_title }}
</button>
<dialog id="{{ dialog_id }}" class="modal">
    <div class="modal-box">
        <div class="divider divider-start divider-secondary"><h3 class="text-lg font-bold">{{ header }}</h3></div>
        <form id="{{ dialog_id }}-form" class="py-2" method="post" action="{{ endpoint }}">
            {% csrf_token %}
            {% block dialogform %}
            {% endblock dialogform %}
        </form>
        <div class="modal-action">
            <form method="dialog" class="w-full">
                <div class="divider divider-end divider-secondary">
                    <button type="submit" form="{{ dialog_id }}-form"
                            class="btn btn-primary">{{ submit_text }}</button>
                    <button class="btn">{{ cancel_text }}</button>
                </div>
            </form>
        </div>
    </div>
    <form method="dialog" class="modal-backdrop">
        <button>close</button>
    </form>
</dialog>
