@layer components {
    .loading-box {
      display: grid;
      width: 100%;
      place-items: center;
    }
    .loading-box .loading-overlay {
      position: absolute;
    }
    .loading-box .loading-overlay:not(.htmx-request) {
      display: none;
    }
  }
