  <li>
	  HTMX-app
	  {% block incident_pk %}
	  {% include "htmx/incidents/_incident_pk.html" %}
	  {% endblock incident_pk %}
	  {% block status %}
	  {% include "htmx/incidents/_incident_status.html" %}
	  {% endblock status %}
	  {% block acknowledgement %}
	  {% include "htmx/incidents/_incident_ack.html" %}
	  {% endblock acknowledgement %}
	  {% block tag %}
	  {% include "htmx/incidents/_incident_tag.html" with tag="location" %}
	  {% endblock tag %}
	  {% block start_time %}
	  {% include "htmx/incidents/_incident_start_time.html" %}
	  {% endblock start_time %}
	  {% block description %}
	  {% include "htmx/incidents/_incident_description.html" %}
	  {% endblock description %}
  </li>
