{% extends "htmx/base.html" %}
{% block main %}
  <form action="{% url 'htmx:destination-list' %}" method="post">
    {% csrf_token %}
    <fieldset class="menu menu-horizontal menu-md border border-primary items-center gap-4">
      <legend class="menu-title">Create destination</legend>
      {% for field in create_form %}
        <label class="flex items-center gap-2">
          {{ field.label }}
          <div class="input input-bordered flex items-center gap-2">{{ field }}</div>
        </label>
        {% if field.errors %}<p class="text-error">{{ field.errors }}</p>{% endif %}
      {% empty %}
        <p>Something went wrong</p>
      {% endfor %}
      <input type="submit" value="Create" class="btn btn-primary">
    </fieldset>
  </form>
  {% for media, forms in grouped_forms.items %}
    <details class="collapse bg-base-200 collapse-arrow" open="">
      <summary class="collapse-title text-xl font-medium">{{ media.name }} ({{ forms|length }})</summary>
      <div class="collapse-content">
        {% for form in forms %}
          {% include "htmx/destination/_forms.html" %}
        {% endfor %}
      </div>
    </details>
  {% endfor %}
{% endblock main %}
